*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88deb3;
    padding: 20px;
}

.cadastro-box{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.cadastro-box h1{
    color: #006400;
    font-size: 2em;
    margin-bottom: 5px;
    text-align: center;
}

.cadastro-box p{
    color: #555555;
    font-size: 1em;
    margin-bottom: 25px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

label{
    font-weight: 600;
    color: #004d00;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
    font-size: 1em;
}

input:focus{
    border-color: #228B22;
    box-shadow: 0 0 5px #228B22;
}

button{
    background-color: #006400;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    background-color: #228B22;
    transform: scale(1.05);
}

.login-voltar{
    margin-top: 20px;
    text-align: center;
    color: #555555;
}

.login-voltar a{
    color: #228B22;
    text-decoration: none;
    font-weight: bold;
}

.login-voltar a:hover{
    text-decoration: underline;
}

/* Caixa de erros */
.erro {
    background-color: #ffdddd;
    border: 1px solid #ff5c5c;
    color: #a30000;
    padding: 10px 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
    font-size: .9em;
}

.erro p{
    margin: 4px 0;
}