*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88deb3;
}
.login-box{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}
.login-box h1{
    color: #006400;
    font-size: 2em;
    margin-bottom: 5px;
}
.login-box p{
    color: #555555;
    font-size: 1em;
    margin-bottom: 25px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
label{
    font-weight: 600;
    color: #004d00;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
    font-size: 1em;
}
input:focus{
    border-color: #228B22;
    box-shadow: 0 0 5px #228B22;
}
button{
    background-color: #006400;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
button:hover{
    background-color: #228B22;
    transform: scale(1.05);
}
.cadastro{
    margin-top: 15px;
    font-size: 0.9em;
    color: #555555;
    text-align: center;
}
.cadastro a{
    color: #228B22;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.cadastro a:hover{
    text-decoration: underline;
}
